*{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.sketchfab-embed-wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
iframe{
  height: 500px;
  margin-top: 3em;
  width: 100%;
}
.headline{
  width: 80%;
}